<% if flash[:notice] %>
<p id="notice">
 <%= flash[:notice] %>
</p>
<% end %>

<h2><%= @book.title %></h2>
<p><%= @book.body %></p>

<%= link_to 'Edit', edit_book_path %>
<%= link_to 'Back', books_path %>